* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_searchbar {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
}

.ms_searchbar input,
.ms_searchbar button {
    padding: 5px 10px;
}

.ms_searchbar input {
    margin-right: 15px;
}

.ms_movies_container ul li {
    margin: 30px 20px;
}