* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #360101;
}
::-webkit-scrollbar-thumb:hover {
    background: #290101;
}

/* Header */
header {
    width: 100%;
    height: 10vh;
    max-height: 150px;
    background-color: #000;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 3vh;
    max-height: 120px;
}

.ms_searchbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.ms_searchbar .ms_filter {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}
.ms_searchbar .ms_filter label {
    color: #fff;
}
.ms_searchbar .ms_filter select {
    margin-bottom: 8px;
}

.ms_searchbar input,
.ms_searchbar button {
    padding: 5px 10px;
}

.ms_searchbar input {
    margin-right: 15px;
}

/* Main */
main {
    width: 100%;
    min-height: 90vh;
    background-image: linear-gradient(180deg, #000, #161313);
    overflow-x: hidden;
}

.ms_banner {
    position: relative;
    width: 100vw;
    height: 500px;
}

#banner_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.banner_text h1 {
    font-size: 6em;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 1px 6px 12px #360101;
}
.banner_text p {
    font-size: 3em;
    font-style: oblique;
    text-shadow: 1px 6px 12px #360101;
}

.ms_main_poster {
    height: 517px;
    width: 342px;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.ms_movies_container ul,
.ms_tvseries_container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.ms_movies_container ul li,
.ms_tvseries_container ul li {
    margin: 30px 0;
    display: inline-block;
}
.ms_movies_container ul li:first-child,
.ms_tvseries_container ul li:first-child {
    margin-right: 90%;
    color: #fff;
    font-size: xx-large;
    text-shadow: 1px 6px 12px #360101;
}

i.fa-star.yellow {
    color: rgb(250, 206, 93);
}

.ms_infos {
    display: none;
    width: 342px;
    height: 517px;
    border: 2px solid #fff;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.6s;
}
.ms_infos:hover {
    position: relative;
    z-index: 200;
    transform: scale(1.1);
    border: 2px solid #360101;
}
.ms_infos span {
    font-weight: 400;
}

img.ms_main_poster {
    display: none;
}

img.ms_main_poster.active,
.ms_infos.active {
    display: inline-block;
}

.ms_genres ul {
    display: inline-block;
    list-style: none;
}
.ms_genres ul li {
    margin: 0 3px 0 0;
}
.ms_genres ul li:first-child {
    font-weight: 600;
    font-size: 1.2em;
}
.ms_genres li:not(:last-child,:first-child)::after {
    content: ',';
} 
.ms_genres li:last-child::after {
    content: '.';
}

img.flag {
    width: 80px;
}

/* Intro animation */
.intro_animation {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.intro_animation video {
    width: 100%;
}

